In [43]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [44]:
df = pd.read_csv('C:/Users/user/OneDrive/바탕 화면/dataset.csv')

In [45]:
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [46]:
y = df['trestbps']
y

0      145
1      130
2      130
3      120
4      120
      ...
298    140
299    110
300    144
301    130
302    130
Name: trestbps, Length: 303, dtype: int64

In [47]:
X = df.drop('trestbps', axis = 1)
X.head()

,age,sex,cp,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,354,0,1,163,1,0.6,2,0,2,1

In [48]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=0)

x_train.shape, x_test.shape, y_train.shape, y_test.shape

((227, 13), (76, 13), (227,), (76,))

In [49]:
df.iloc[:,13].value_counts()

target
1    165
0    138
Name: count, dtype: int64

In [70]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import confusion_matrix

from sklearn.tree import DecisionTreeRegressor

clf_dt = DecisionTreeRegressor()
clf_dt.fit(x_train, y_train)

pred_dt = clf_dt.predict(x_test)

print(pred_dt)
print(clf_dt.score(x_train, y_train))
print(clf_dt.score(x_test, y_test))

[150. 150. 102. 145. 150. 134. 120. 150. 120. 140. 117. 110. 120. 138.
 125. 128. 130. 128. 128. 115. 120. 110. 120. 132. 112. 140. 152. 130.
 140. 140. 150. 132. 102. 101. 118. 160. 120. 138. 130. 160. 110. 100.
 105. 110. 140. 160. 120. 138. 140. 138. 138. 120. 102. 130. 140. 120.
 138. 120. 117. 140. 140. 120. 180. 128. 160. 135. 150. 120. 130. 115.
 140. 130. 135. 130. 130. 130.]
1.0
-0.6467648444802663

In [53]:
mse = np.sqrt(mean_squared_error(pred_dt, y_test))
print('평균제곱근오차', mse)

평균제곱근오차 22.63497526535335

In [69]:
from sklearn.ensemble import RandomForestRegressor

rf_clf = RandomForestRegressor()
rf_clf.fit(x_train, y_train)

pred_rf = rf_clf.predict(x_test)

print(pred_rf)
print(rf_clf.score(x_train, y_train))
print(rf_clf.score(x_test, y_test))

[129.61 132.22 137.45 131.65 134.68 124.41 126.88 134.83 144.04 144.47
 136.22 123.51 130.26 124.08 121.11 122.57 122.05 128.7  130.96 143.79
 120.82 125.79 141.02 134.1  119.14 134.51 126.4  127.55 125.55 128.16
 134.7  130.2  121.44 127.85 124.52 133.03 131.85 124.35 130.99 143.4
 126.57 123.06 128.13 132.45 129.34 129.6  123.26 122.85 135.17 123.43
 130.94 133.5  124.12 119.22 127.97 128.43 122.58 131.95 133.75 130.13
 135.13 118.45 136.62 129.96 134.19 128.88 135.81 129.58 119.15 124.79
 128.29 126.   128.26 133.22 138.89 124.27]
0.8433172833297202
0.11373783114411729

In [55]:
mse = np.sqrt(mean_squared_error(pred_rf, y_test))
print('평균제곱근오차', mse)

평균제곱근오차 17.131920806678853

In [68]:
from sklearn.linear_model import LinearRegression

clf_lr = LinearRegression()
clf_lr.fit(x_train, y_train)

pred_lr = clf_lr.predict(x_test)

print(pred_lr)

#훈련세트와 테스트세트에 대한 모델의 성능 측정
print(clf_lr.score(x_train, y_train))
print(clf_lr.score(x_test, y_test))

[134.45494408 131.99659839 133.63579793 137.71439688 130.37217963
 126.3512181  125.96659027 132.76468674 147.85687036 144.45620542
 131.78623467 125.68192741 136.46251836 125.18922653 130.54591504
 127.42491391 127.20686852 130.52368906 131.50204632 127.40692879
 119.29583632 120.90015258 132.32055802 125.75231209 119.43134143
 134.40444284 127.71366533 126.9834462  122.01728029 125.06142274
 138.80980684 125.64468299 125.00514361 131.65826992 117.63560952
 131.57592286 141.00109972 125.00322912 138.17766512 141.7159652
 122.06830208 130.96208586 124.92181028 127.71802315 132.54788029
 131.35180576 127.21807557 127.16017898 140.55454042 121.52880596
 126.09638933 138.828696   130.79117996 116.3665383  124.80385557
 122.11599693 124.7178293  133.47307854 137.43244482 130.14027491
 129.71849242 124.43630305 134.40330729 135.19354718 131.79337353
 130.86822663 133.89517016 130.7706132  119.33945658 127.82979167
 123.70602536 125.41927295 121.62613589 131.06949726 134.16915681
 123.69213128]
0.13171085691339934
0.16906384938870467

In [60]:
mse = np.sqrt(mean_squared_error(pred_lr, y_test))
print('평균제곱근오차', mse)

평균제곱근오차 16.713329580888406

In [67]:
from sklearn.svm import SVR

clf_svm = SVR()
clf_svm.fit(x_train, y_train)

pred_svm = clf_svm.predict(x_test)

print(pred_svm)

#훈련세트와 테스트세트에 대한 모델의 성능 측정
print(clf_svm.score(x_train, y_train))
print(clf_svm.score(x_test, y_test))

[128.92326059 129.70211699 130.81399198 130.21707804 129.74484711
 130.49191278 128.66946021 130.16925383 130.75376619 131.55708403
 128.48633153 130.39581115 130.14903455 130.35367714 129.48608152
 129.51554247 129.71758053 130.14833451 130.32751497 129.88108611
 129.59703843 129.39024512 130.59394629 129.24426835 129.69623707
 130.25081407 129.40428902 129.96614122 129.42521781 129.21266033
 129.03333965 131.10975171 131.05546442 129.1908421  129.02105677
 130.04272626 130.43373672 131.12630652 130.027928   130.45473927
 129.09446735 131.08608295 129.58760316 130.42117596 129.34665677
 130.03724614 129.37235802 129.73530721 132.58321381 130.26989113
 131.4749645  130.47048851 130.34615838 129.13890458 129.15535323
 129.03337077 129.83437238 129.85413957 129.4250169  129.93114384
 129.98638086 129.3593918  130.65140419 129.41768907 129.18674725
 129.76190345 129.31000455 131.05402106 129.2014593  130.29928679
 129.80335833 129.77031398 129.90803153 130.78533346 129.61790016
 128.81580784]
0.005815222206354775
0.0007977864806850699

In [62]:
mse = np.sqrt(mean_squared_error(pred_svm, y_test))
print('평균제곱근오차', mse)

평균제곱근오차 18.32761040021134

In [66]:
from sklearn.neighbors import KNeighborsRegressor

# KNN 회귀 모델 생성
clf_knn = KNeighborsRegressor()
clf_knn.fit(x_train, y_train)

# 테스트 데이터에 대한 예측
pred_knn = clf_knn.predict(x_test)
print(pred_knn)

# 훈련 데이터와 테스트세트에 대한 모델의 성능 출력 (R-squared)
print(clf_knn.score(x_train, y_train))
print(clf_knn.score(x_test, y_test))

[135.6 133.6 132.4 124.8 137.4 127.4 125.6 128.  140.4 142.8 130.  127.
 133.6 121.6 116.8 133.4 128.8 130.4 140.8 131.6 130.4 128.6 140.2 130.8
 125.6 134.8 117.4 127.6 119.2 131.6 134.4 130.6 126.6 129.2 122.2 128.
 142.4 134.4 124.  124.2 134.8 124.6 122.4 136.8 130.8 134.  120.  130.
 142.  119.8 124.4 139.6 119.8 123.2 118.  121.2 133.2 132.4 132.4 123.6
 137.6 120.  143.6 130.8 134.4 125.8 138.4 145.4 120.6 125.  123.4 131.6
 139.  129.8 139.6 126. ]
0.2027258862414878
0.04054665077006647

In [65]:
mse = np.sqrt(mean_squared_error(pred_knn, y_test))
print('평균제곱근오차', mse)

평균제곱근오차 17.959369347736605

In [ ]:
#회귀 문제 -> 모델을 규제해서, 테스트세트 점수 높여보기